* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
  }
                                /* sorting css styles */

  #sortBy {
    width: 100%;
    display: flex;
    justify-content: right;
    margin-bottom: 5px;
    margin-top: 10px;
  }
  #sortBy > select {
    font-size: 20px;
    padding: 4px;
    color: rgb(52, 51, 51);
  }

                                /* Body css styles */
  #parent {
    margin: auto;
    width: 94%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
  }
  #parent > div {
    padding: 10px;
    font-size: 16px;
  }
  #parent > div:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  #parent > div > img {
    width: 100%;
    cursor: pointer;
  }
  #parent > div > h3 {
    margin-top: 6px;
  }
  #parent > div > p {
    color: rgb(108, 108, 108);
    transition: color 0.3s;
    margin-top: 10px;
  }
  button {
    margin-top: 15px;
    background-color: white;
    border-radius: 4px;
    padding: 8px;
    transition: background-color 0.5s, color 0.5s;
  }
  button:hover {
    background-color: black;
    color: white;
  }

  p:hover {
    text-decoration: underline;
  }
  span:last-child {
    color: grey;
    cursor: pointer;
  }
  .fa {
    color: rgb(154, 154, 154);
    cursor: pointer;
  }
  .checked {
    color: orange;
    cursor: pointer;
  }
  @media all and (min-width:480px) and (max-width:720px){
    #parent {
        margin: auto;
        width: 94%;
        border: 1px solid red;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-gap: 10px;
      }
      #parent > div {
        padding: 10px;
        font-size: 16px;
      }
      #parent > div:hover {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
          rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      }
      #parent > div > img {
        width: 100%;
        cursor: pointer;
      }
      #parent > div > h3 {
        margin-top: 8px;
      }
      #parent > div > p {
        color: rgb(108, 108, 108);
        transition: color 0.3s;
        margin-top: 10px;
      }
      button {
        margin-top: 15px;
        background-color: white;
        border-radius: 4px;
        padding: 8px;
        transition: background-color 0.5s, color 0.5s;
      }
      button:hover {
        background-color: black;
        color: white;
      }
    
      p:hover {
        text-decoration: underline;
      }
  }


  @media all and (min-width:320px) and (max-width:479px){
    #parent {
        margin: auto;
        width: 94%;
        border: 1px solid red;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        grid-gap: 10px;
      }
      #parent > div {
        padding: 10px;
        font-size: 16px;
        text-align: center;
      }
      #parent > div:hover {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
          rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      }
      #parent > div > img {
        width: 100%;
        cursor: pointer;
      }
      #parent > div > h3 {
        margin-top: 8px;
      }
      #parent > div > p {
        color: rgb(108, 108, 108);
        transition: color 0.3s;
        margin-top: 10px;
      }
      button {
        margin-top: 15px;
        background-color: white;
        border-radius: 4px;
        padding: 8px;
        transition: background-color 0.5s, color 0.5s;
      }
      button:hover {
        background-color: black;
        color: white;
      }
    
      p:hover {
        text-decoration: underline;
      }
  }